$white: #F5F5F5;
$black: #444;
$green: #54CC14;
$purple: #6067B0;
$blue: #4F9EE5;

$bg-color: $white;
$fg-color: $black;

$input-border-color: #DDD;
$input-bg-color: white;

$action-bg-color: #AAA;
$action-fg-color: $white;

$link-color: $blue;
$link-active-color: $green;

$accent-bg-color: $purple;
$accent-fg-color: $white;

$alt-accent-bg-color: $green;
$alt-accent-fg-color: $white;

