.select {
  position: relative;
  box-sizing: border-box;
  background: $input-bg-color;
  border: 1px solid $input-border-color;
  border-radius: 2px;
  display: inline-block;
  white-space: nowrap;
  min-width: 15em;
  
  &:after {
    content: '';
    width: 2em;
    display: inline-block;
    pointer-events: none;
  }
  
  &:before {
    content: '\25bc';
    z-index: 1;
    position: absolute;
    right: 0.5em;
    top: 50%;
    line-height: 1em;
    font-size: 0.75em;
    margin-top: -0.4em;
    pointer-events: none;
    opacity: 0.75;
  }

  select {
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: window;
  
    width: 100%;
    z-index: 2;
  }
}